In [ ]:
#getting mongodb url variable from local enviroment variables
import os

mongo_db_url = os.environ.get("MONGO_DB_URL")

if mongo_db_url:
    print(f"The MongoDB URL is: {mongo_db_url}")
else:
    print("MONGO_DB_URL is not set in the environment.")

In [ ]:
import pymongo
import certifi
ca =certifi.where()

client = pymongo.MongoClient("mongodb+srv://test:<password>@cluster0.jys9xir.mongodb.net/?retryWrites=true&w=majority",tlsCAFile=ca)

In [ ]:
#using magic method
%env MONGO_DB_URL

In [ ]:
#connecting to database
import pymongo
import certifi
ca =certifi.where()
mongo_db_url = os.getenv("MONGO_DB_URL")

client = pymongo.MongoClient(mongo_db_url,tlsCAFile=ca)
db  = client['ineuron']

In [ ]:
# Get a list of collection names in the database
collection_names = db.list_collection_names()
collection_names

In [10]:
from sensor.utils.main_utils import load_object
preprocessor = load_object(file_path='F://Industry_Ready//Sensor_Fault_Detection//artifact//12_03_2023_12_03_22//data_transformation//transformed_object//preprocessing.pkl')

In [11]:
model = load_object(file_path='F://Industry_Ready//Sensor_Fault_Detection//artifact//12_03_2023_12_03_22//model_trainer//trained_model//model.pkl')

In [33]:
from sensor.ml.model.estimator import SensorModel,TargetValueMapping
model = SensorModel(preprocessor=preprocessor,model=model)

In [32]:
import pandas as pd
df = pd.read_csv(r'F:\Industry_Ready\Sensor_Fault_Detection\artifact\12_03_2023_12_03_22\data_ingestion\ingested\test.csv')

In [35]:
y_true = df['class'].replace(TargetValueMapping().to_dict())

In [36]:
y_true

0       0
1       0
2       0
3       0
4       0
       ..
7233    0
7234    0
7235    0
7236    0
7237    0
Name: class, Length: 7238, dtype: int64

In [38]:
df.drop('class',axis=1,inplace=True)

In [39]:
df.head()

,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,118494,1252.0,1216.0,0.0,0.0,0.0,0.0,0.0,0.0,5756.0,...,1093284.0,561686.0,1185902.0,994138.0,733748.0,338498.0,449772.0,18086.0,0.0,0.0
1,14,14.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,248.0,34.0,20.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
2,48278,178.0,168.0,0.0,0.0,0.0,0.0,0.0,0.0,10554.0,...,453082.0,203254.0,371192.0,326654.0,244054.0,180956.0,329836.0,18488.0,0.0,0.0
3,62168,194.0,126.0,0.0,0.0,0.0,0.0,0.0,24.0,205558.0,...,710394.0,362276.0,721140.0,557960.0,310880.0,147788.0,123964.0,298.0,0.0,0.0
4,28938,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,244.0,...,226414.0,103590.0,205434.0,197162.0,420782.0,146880.0,7786.0,0.0,0.0,0.0

In [40]:
print(test.shape,type(test),test.ndim)

(7238, 163) <class 'numpy.ndarray'> 2

In [41]:
y_hat = model.predict(x=df)

f:\Industry_Ready\Sensor_Fault_Detection\venv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(
f:\Industry_Ready\Sensor_Fault_Detection\venv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

In [76]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_true=y_true,y_pred=y_hat)

0.9711246200607903

In [50]:
import numpy as np

In [74]:
pd.DataFrame({'Actual': y_true.replace(TargetValueMapping().reverse_mapping()),'Predicted':np.where(y_hat==0, 'neg', 'pos')})

     Actual Predicted
0       neg       neg
1       neg       neg
2       neg       neg
3       neg       neg
4       neg       neg
...     ...       ...
7233    neg       neg
7234    neg       neg
7235    neg       neg
7236    neg       neg
7237    neg       neg

[7238 rows x 2 columns]

In [78]:
print(classification_report(y_true,y_hat))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99      7029
           1       0.00      0.00      0.00       209

    accuracy                           0.97      7238
   macro avg       0.49      0.50      0.49      7238
weighted avg       0.94      0.97      0.96      7238

f:\Industry_Ready\Sensor_Fault_Detection\venv\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
f:\Industry_Ready\Sensor_Fault_Detection\venv\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
f:\Industry_Ready\Sensor_Fault_Detection\venv\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))